@{
  Layout = "_Layout";
}

@model Registrar.Models.Department
<div>
<h4>Add a new departmnet</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  <input type="submit" value="Add new course" />
}
<div>
<p>@Html.ActionLink("Show all courses", "Index")</p>