<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title>My To-Do List!</title>
=======
    <title>Registrar!</title>
>>>>>>> 488561c316993ee7e6a5e8de0a0abcf3b218fbc8
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    @RenderBody()
<<<<<<< HEAD
    @await Html.PartialAsync("Footer")
  </body>
</html>
=======
  </body>
</html>
>>>>>>> 488561c316993ee7e6a5e8de0a0abcf3b218fbc8
